.home a{
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
    font-size: 1.2rem;
}
nav > ul {
    background-color: rgb(230, 230, 230);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}
.flex-nav {
    display: flex;  /*從行變列*/
    justify-content: space-evenly;/*空間平均分配到所有子元素之間，頭尾和邊緣之間也保留同樣寬度的間隔*/
}